$dark-primary-contrast: #3d3d3d;
$light-primary-contrast: white;
$light-theme-primary-color: (
  50 : #e4f7f3,
  100 : #baebe1,
  200 : #8ddece,
  300 : #5fd0ba,
  400 : #3cc6ab,
  500 : #1abc9c,
  600 : #17b694,
  700 : #13ad8a,
  800 : #0fa580,
  900 : #08976e,
  A100 : #c3ffec,
  A200 : #90ffdc,
  A400 : #5dffcc,
  A700 : #44ffc4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$light-theme-accent-color: (
  50 : #e2f5f1,
  100 : #b8e5db,
  200 : #88d4c4,
  300 : #58c3ac,
  400 : #35b69a,
  500 : #11a988,
  600 : #0fa280,
  700 : #0c9875,
  800 : #0a8f6b,
  900 : #057e58,
  A100 : #adffe1,
  A200 : #7affcf,
  A400 : #47ffbc,
  A700 : #2dffb3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
